.about_section {
    display: flex;
    flex-direction: row;
    margin: 15vh 0;
    article {
        position: relative;
        .logo {
            position: absolute;
            left: calc(2 * 2.5%);
            top: 0;
            color: rgba(150, 150, 150, 0.45);
            font-size: 18px;
            font-style: italic;
            letter-spacing: -0.0175em;
        }
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 5% 0;
        padding-left: 2.5%;
        padding-right: 7.5%;
        p {
            font-size: 1.25rem;
            text-wrap: balance;
            color: rgb(240, 240, 240);
            line-height: 1.5;
            letter-spacing: -0.015em;
            span {
                line-height: 1.4;
                display: inline-block;
                color: rgb(115, 115, 115);
                font-weight: 300;
                text-wrap: balance;
            }
            .company {
                letter-spacing: -0.025em;
                font-weight: 600;
                color: rgb(255, 255, 255);
                font-style: italic;
            }
        }
    }
    aside {
        width: 50%;
        height: 80vh;
        position: relative;
        .image_data {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .coordinates_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                p {
                    font-family: "SUSE", sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 1;
                    letter-spacing: -0.0175em;
                    user-select: none;
                }
            }
            .scroll_wrapper {
                margin-top: 0.75rem;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75rem;
                padding: 0.5rem 0.875rem;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                div {
                    cursor: pointer;
                    padding: 5px;
                    width: 12.5px;
                    height: 12.5px;
                    background-color: rgba(255, 255, 255, 0.475);
                    border-radius: 50px;
                    &.active {
                        background-color: rgba(255, 255, 255, 0.9);
                        width: 40px;
                    }
                    //  animation: scrollAnim 1.5s ease-in-out infinite;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}