.about_section {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 15vh 0 12.5vh;
    article {
        position: relative;
        .logo {
            position: absolute;
            left: calc(2 * 2.5%);
            top: 0;
            color: rgba(150, 150, 150, 0.45);
            font-size: 18px;
            font-style: italic;
            letter-spacing: -0.0175em;
        }
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 5% 0;
        padding-left: 2.5%;
        padding-right: 7.5%;
        p {
            font-size: 1.25rem;
            text-wrap: balance;
            color: rgb(240, 240, 240);
            line-height: 1.5;
            letter-spacing: -0.015em;
            span {
                line-height: 1.4;
                display: inline-block;
                color: rgb(115, 115, 115);
                font-weight: 300;
                text-wrap: balance;
            }
            .company {
                letter-spacing: -0.025em;
                font-weight: 600;
                color: rgb(255, 255, 255);
                font-style: italic;
            }
        }
    }
    aside {
        position: relative;
        width: 50%;
        height: 80vh;
        overflow: hidden;
        .slider_container {
            position: relative;
            width: 100%;
            height: 100%;
            .slider_image {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 0.6s ease-in-out;
                &.active {
                    opacity: 1;
                }
            }
        }
        .image_data {
            position: absolute;
            top: 87.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 10;
            .coordinates_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                //padding: 0.375rem 0.75rem;
                //backdrop-filter: blur(10px);
                //border-radius: 10px;
                p {
                    font-family: "SUSE", sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: -0.0175em;
                    user-select: none;
                    color: var(--background);
                }
            }
            .scroll_wrapper {
                margin-top: 0.75rem;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75rem;
                padding: 0.5rem 0.875rem;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(5px);
                .dot {
                    cursor: pointer;
                    padding: 5px;
                    width: 12.5px;
                    height: 12.5px;
                    background-color: rgba(255, 255, 255, 0.475);
                    border-radius: 50px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        //transition: .125s ease;
                        background-color: rgba(255, 255, 255, 0.75);
                    }
                    &.active {
                        background-color: rgba(255, 255, 255, 1);
                        width: 42.5px;
                    }
                }
            }
        }
    }
}