footer {
    padding: 12.5vh 0 7.5vh 3.75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h3 {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        font-size: 2.75rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -0.0175em;
    }
    article {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .position {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 2rem 0;
            border-bottom: 2px dashed rgba(150, 150, 150, 0.225);
            h6,
            p {
                font-family: "Inter", sans-serif;
                width: 33.3333%;
                font-size: 20px;
                font-weight: 500;
                color: rgb(255, 255, 255);
            }
            p {
                text-transform: uppercase;
                font-family: "SUSE", sans-serif;
                font-weight: 400;
                color: rgb(130, 130, 130);
                cursor: pointer;
                transition: .15s ease;
                transition-delay: 0.02s;
                &.empty {
                    cursor: default;
                    pointer-events: none;
                    color: transparent;
                }
                &:hover {
                    color: rgb(225, 225, 225);
                }
            }
        }
    }
}