header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-wrapper {
        margin-top: calc(2.5vh + 117.5px);
        margin-top: 2.5vh;
        width: 100%;
        .image {
            width: 100%;
            height: 92.5vh;
            border-radius: 20px;
            object-fit: cover;
        }
    }
    .content {
        width: 90%;
        position: absolute;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        h1 {
            font-family: "Inter", sans-serif;
            color: var(--background);
            font-size: 5rem;
            font-weight: 600;
            text-align: center;
            line-height: 1.25;
            text-transform: uppercase;
            letter-spacing: -0.015em;
        }
        p {
            font-family: "Inter", sans-serif;
            color: rgba(255, 255, 255, 0.825);
            font-size: 1.375rem; //22px
            font-weight: 500;
            text-align: center;
            line-height: 1.25;
            letter-spacing: -0.0225em;
        }
        button {
            margin-top: 1rem;
            font-family: "SUSE", sans-serif;
            color: var(--background);
            background-color: var(--foreground);
            background-color: rgba(0, 0, 0, 0.9);
            backdrop-filter: blur(12.5px);
            font-size: 18px;
            font-weight: 500;
            //border: 1px solid rgba(0, 0, 0, 0.75);
            border: none;
            border-radius: 50px;
            padding: 0.875rem 2.25rem;
            cursor: pointer;
            transition: 0.225s ease;
            transition-delay: 0.025s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.725);
                //background-color: rgba(255, 255, 255, 0.325);
                backdrop-filter: blur(15px);
            }
        }
    }
}