nav {
    height: 61px;
    position: fixed;
    top: 2.5rem;
    left: 50%;
    width: 82.5%;
    padding: 0.5rem 1.25rem;
    transform: translateX(-50%);
    z-index: 9999;
    border: 1px solid rgba(128, 0, 255, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    backdrop-filter: blur(12.5px);
    //transition: .175s ease;
    //transition-delay: 0.02s;
    &:hover {
        border-color: rgba(128, 0, 255, 0.35);
        transition: .175s ease;
        transition-delay: 0.02s;
    }
    .logo {
        //  font-family: "Gelasio", serif;
        font-size: 1.75rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -0.0175em;
        cursor: pointer;
    }
    ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 3.5rem;
        list-style: none;
        a {
            font-family: "Inter", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.75);
            text-wrap: nowrap;
            cursor: pointer;
            user-select: none;
            transition: 0.25s ease;
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .right_section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 120px;
    }
    .demo_button {
        font-size: 18px;
        font-weight: 500;
        color: var(--background);
        background-color: rgba(0, 0, 0, 0.6);
        background-color: rgb(65, 0, 130);
        backdrop-filter: blur(15px);
        border: none;
        border-radius: 14px;
        padding: 11px 1.25rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
    .hamburger_wrapper {
        display: flex;
        align-items: center;
        .hamburger_menu {
            font-size: 1.75rem;
            color: rgb(225, 225, 225);
            cursor: pointer;
            transition: color 0.25s ease;
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.sideMenu {
    height: 100vh;
    width: 450px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(12.5px);
    //box-shadow: -4px 0 12px rgba(255, 255, 255, 0.1);
    padding: 5rem 0 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: transform 0.2s ease;
    &.open {
        transform: translateX(-0%);
        transition: transform 0.275s ease;
    }
    .close-btn {
        display: flex;
        position: absolute;
        top: 1.75rem;
        right: 1.75rem;
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        cursor: pointer;
        transition: 0.225s ease;
        &:hover {
            //color: rgb(128, 0, 255);
            background-color: var(--background);
            color: var(--foreground);
        }
        &:active {
            transition: 0.05s ease;
            transform: scale(0.9);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3.25rem;
        list-style: none;
        a {
            font-family: "SUSE", sans-serif;
            text-transform: uppercase;
            font-size: 1.75rem;
            font-weight: 600;
            letter-spacing: 0.015em;
            color: rgb(255, 255, 255);
            cursor: pointer;
            transition: .175s ease;
            transition-delay: 0.02s;
            &:hover {
                color: rgb(135, 135, 135);
                transform: translateX(5px);
            }
        }
    }
    h6 {
        position: absolute;
        bottom: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.25rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: -0.0175em;
        color: rgba(225, 225, 225, 0.5);
        transition: .15s ease;
        cursor: pointer;
        &:hover {
            color: rgba(255, 255, 255, 0.75);
        }
    }
}