.ourNumbers {
    display: flex;
    padding: 7.5vh 0;
    margin: 20vh 3.75% 12.5vh;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 2.5%;
        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 5%;
            h2 {
                font-family: "Inter", sans-serif;
                font-size: 4rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: -0.025em;
                line-height: 1.15;
            }
            .underHeading {
                font-family: "Inter", sans-serif;
                margin-top: 7.5%;
                //margin-top: 2rem;
                font-size: 22px;
                color: rgb(170, 170, 170);
                letter-spacing: -0.015em;
            }
        }
        .image_wrapper {
            width: 350px;
            height: 350px;
            position: relative;
            overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                top: -17.5%;
                left: -17.5%;
                width: 33.333%;
                height: 33.333%;
                transform: rotate(45deg);
                background-color: rgba(200, 200, 200, 0.1);
                backdrop-filter: blur(2.5px);
                pointer-events: none;
            }
            &:nth-of-type(3) {
                margin-top: 10%;
            }
            img {
                width: 350px;
                height: 350px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                object-fit: cover;
            }
        }
    }
    .numbers {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        .number {
            width: 25%;
            border-left: 4px solid rgba(225, 225, 225, 0.35);
            padding: 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2%;
            transition: 0.225s ease;
            transition-delay: 0.02s;
            &:hover {
                border-color: rgba(255, 255, 255, 0.9);
                transform: translateY(-2px);
                h3 {
                    color: rgb(128, 0, 255);
                }
                p {
                    color: rgb(220, 220, 220);
                }
            }
            &:nth-of-type(2) {
                margin-top: 5%;
            }
            &:nth-of-type(3) {
                margin-top: 8%;
            }
            &:nth-of-type(4) {
                margin-top: 11%;
            }
            h3 {
                font-size: 34px;
                font-weight: 700;
                letter-spacing: -0.02em;
                padding-right: 0.75rem;
                transition: 0.225s ease;
                transition-delay: 0.02s;
                cursor: pointer;
            }
            p {
                font-size: 18px;
                color: rgb(175, 175, 175);
                letter-spacing: -0.015em;
                transition: 0.225s ease;
                transition-delay: 0.02s;
                cursor: pointer;
            }
        }
    }
}