.text-reveal-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12.5vh 0;
    overflow-x: hidden;
    article {
        max-width: 1100px;
        p {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.75;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            text-wrap: balance;
            .word {
                position: relative;
                display: inline;
                margin-right: 0.3em;
                .word-shadow {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}