:root {
    --background: #FFF;
    --foreground: rgb(15, 15, 15);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--background);
    background: var(--foreground);
    font-family: "Schibsted Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .image {
        margin-top: 2.5vh;
        width: 92.5%;
        height: 92.5vh;
        //border: 1px solid rgba(255, 0, 0, 0.25);
        object-fit: cover;
        border-radius: 20px;
    }
    h1 {
        font-family: "Inter", sans-serif;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--background);
        font-size: 4.25rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.1;
        letter-spacing: -0.025em;
    }
    p {
        font-family: "Inter", sans-serif;
        position: absolute;
        top: 57.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(235, 235, 235);
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }
    button {
        // font-family: "Inter", sans-serif;
        font-family: "SUSE", sans-serif;
        text-transform: uppercase;
        position: absolute;
        top: 67.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--background);
        background-color: var(--foreground);
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(12.5px);
        font-size: 18px;
        font-weight: 500;
        //border: 1px solid rgba(0, 0, 0, 0.75);
        border: none;
        border-radius: 50px;
        padding: 0.875rem 2.25rem;
        cursor: pointer;
        transition: 0.225s ease;
        transition-delay: 0.025s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.725);
            //background-color: rgba(255, 255, 255, 0.325);
            backdrop-filter: blur(15px);
        }
    }
}

.landing__text {
    margin-top: 200vh;
    text-align: center;
}