:root {
    --background: #FFF;
    --foreground: rgb(15, 15, 15);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    color: var(--background);
    background: var(--foreground);
    font-family: "Schibsted Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    &::selection {
        background-color: var(--background);
        color: var(--foreground);
    }
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    user-select: none;
}

button {
    user-select: none;
}

ul {
    list-style: none;
}